<h2 mat-dialog-title>Wolo Scoresheet Team Selector</h2>
<mat-dialog-content>
    <mat-card
        style="background-color: #e8ecf1"
        *ngFor="let item of data.options"
        (click)="selectTeam(item)"
    >
        <mat-card-header>
            <mat-card-title>Team name: {{ item.teamName }} </mat-card-title>
            <mat-card-subtitle
                >Last Updated:
                {{ item.lastUpdated | date : "medium" }}</mat-card-subtitle
            >
        </mat-card-header>
        <mat-card-content>
            Coach:
            {{ item.coach }}
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
