.layout-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 175px 1fr;

    grid-template-areas:
        "info command events"
        "home away events";
}

@media screen and (max-width: 1300px) {
    .layout-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 175px 175px 775px;
        grid-template-areas:
            "info events"
            "command events"
            "home away";
    }
}

@media screen and (max-width: 700px) {
    .layout-container {
        grid-template-columns: 1fr;
        grid-template-rows: 175px 175px 175px 775px 775px;
        grid-template-areas:
            "info"
            "command"
            "events"
            "home"
            "away";
    }
}

.events {
    grid-area: events;
}

.command {
    grid-area: command;
}

.home {
    grid-area: home;
}

.away {
    grid-area: away;
}

.info {
    grid-area: info;
}
