<div
    style="border-radius: 25px"
    [ngStyle]="{
        'background-color': teamColor === 'home' ? '#d8e1d5' : '#939f96'
    }"
>
    <div style="padding: 16px 0px 16px 16px">
        <div class="flex-box" style="padding-bottom: 4px">
            <mat-form-field class="input-field" subscriptSizing="dynamic">
                <mat-label>{{
                    teamColor === "home" ? "Home/Light Team" : "Away/Dark Team"
                }}</mat-label>
                <input
                    matInput
                    [(ngModel)]="teamModel.teamName"
                    (blur)="updateTeamName()"
                />
            </mat-form-field>

            <span class="flex"></span>

            <button
                mat-icon-button
                matTooltip="Open team options"
                [matMenuTriggerFor]="homeMenu"
                *ngIf="!!session"
            >
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #homeMenu="matMenu" xPosition="before">
                <button
                    mat-menu-item
                    (click)="upsertTeam()"
                    *ngIf="!checkIfExists(teamModel)"
                >
                    <mat-icon>add</mat-icon>
                    Save Team
                </button>

                <button
                    mat-menu-item
                    (click)="upsertTeam()"
                    *ngIf="checkIfExists(teamModel) && !teamModel.saved"
                >
                    <mat-icon>cloud_upload</mat-icon>
                    Update Team
                </button>

                <button mat-menu-item (click)="openTeamSelect()">
                    <mat-icon>list</mat-icon>
                    Select Team
                </button>

                <button mat-menu-item (click)="newTeam()">
                    <mat-icon>restart_alt</mat-icon>
                    New Team
                </button>
            </mat-menu>
        </div>

        <mat-form-field
            class="input-field"
            style="padding-right: 4px"
            subscriptSizing="dynamic"
        >
            <mat-label>Head Coach</mat-label>
            <input
                matInput
                [(ngModel)]="teamModel.coach"
                (blur)="updateCoach()"
            />
        </mat-form-field>

        <mat-form-field
            class="input-field"
            style="padding-right: 4px"
            subscriptSizing="dynamic"
        >
            <mat-label>Assistant Coach 1</mat-label>
            <input
                matInput
                [(ngModel)]="teamModel.assistant1"
                (blur)="updateAssistant1()"
            />
        </mat-form-field>

        <mat-form-field class="input-field" subscriptSizing="dynamic">
            <mat-label>Assistant Coach 2</mat-label>
            <input
                matInput
                [(ngModel)]="teamModel.assistant2"
                (blur)="updateAssistant2()"
            />
        </mat-form-field>
    </div>

    <ag-grid-angular
        class="ag-theme-alpine"
        domLayout="autoHeight"
        [rowData]="teamModel.players"
        [columnDefs]="colDefs"
        [gridOptions]="gridOptions"
        (cellValueChanged)="updatePlayers()"
    >
    </ag-grid-angular>

    <div class="extras-container">
        <div class="column">
            <b>Timeouts</b>
            <div *ngFor="let t of teamModel.timeouts">
                {{ t }}
            </div>
        </div>
        <div class="column">
            <b>Cap Swaps</b>
            <div *ngFor="let s of teamModel.capSwaps">
                {{ s }}
            </div>
        </div>
        <div class="column">
            <b>Cards</b>
            <div *ngFor="let c of teamModel.cards">
                {{ c }}
            </div>
        </div>
    </div>
</div>
