<div class="flex-box">
    <div
        class="flex"
        *ngIf="homeModel"
        style="background-color: #d8e1d5; border-radius: 25px"
    >
        <div style="padding: 16px 0px 16px 16px">
            <div class="flex-box" style="padding-bottom: 4px">
                <mat-form-field class="input-field" subscriptSizing="dynamic">
                    <mat-label>Home/Light Team</mat-label>
                    <input
                        matInput
                        [(ngModel)]="homeModel.teamName"
                        (blur)="updateTeamName('home')"
                    />
                </mat-form-field>

                <span class="flex"></span>

                <button
                    mat-icon-button
                    matTooltip="Open team options"
                    [matMenuTriggerFor]="homeMenu"
                    *ngIf="!!session"
                >
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #homeMenu="matMenu" xPosition="before">
                    <button
                        mat-menu-item
                        (click)="upsertTeam('home')"
                        *ngIf="!checkIfExists(homeModel)"
                    >
                        <mat-icon>add</mat-icon>
                        Save Team
                    </button>

                    <button
                        mat-menu-item
                        (click)="upsertTeam('home')"
                        *ngIf="checkIfExists(homeModel) && !homeModel.saved"
                    >
                        <mat-icon>cloud_upload</mat-icon>
                        Update Team
                    </button>

                    <button mat-menu-item (click)="openTeamSelect('home')">
                        <mat-icon>list</mat-icon>
                        Select Team
                    </button>

                    <button mat-menu-item (click)="newTeam('home')">
                        <mat-icon>restart_alt</mat-icon>
                        New Team
                    </button>
                </mat-menu>
            </div>

            <mat-form-field
                class="input-field"
                style="padding-right: 4px"
                subscriptSizing="dynamic"
            >
                <mat-label>Head Coach</mat-label>
                <input
                    matInput
                    [(ngModel)]="homeModel.coach"
                    (blur)="updateCoach('home')"
                />
            </mat-form-field>

            <mat-form-field
                class="input-field"
                style="padding-right: 4px"
                subscriptSizing="dynamic"
            >
                <mat-label>Assistant Coach 1</mat-label>
                <input
                    matInput
                    [(ngModel)]="homeModel.assistant1"
                    (blur)="updateAssistant1('home')"
                />
            </mat-form-field>

            <mat-form-field class="input-field" subscriptSizing="dynamic">
                <mat-label>Assistant Coach 2</mat-label>
                <input
                    matInput
                    [(ngModel)]="homeModel.assistant2"
                    (blur)="updateAssistant2('home')"
                />
            </mat-form-field>
        </div>

        <ag-grid-angular
            class="ag-theme-alpine"
            domLayout="autoHeight"
            [rowData]="homeModel.players"
            [columnDefs]="colDefs"
            [gridOptions]="gridOptions"
            (cellValueChanged)="updatePlayers('home')"
        >
        </ag-grid-angular>

        <div class="extras-container">
            <div class="column">
                <b>Timeouts</b>
                <div *ngFor="let t of homeModel.timeouts">
                    {{ t }}
                </div>
            </div>
            <div class="column">
                <b>Cap Swaps</b>
                <div *ngFor="let c of homeModel.capSwaps">
                    {{ c }}
                </div>
            </div>
            <div class="column">
                <b>Cards</b>
                <div *ngFor="let c of homeModel.cards">
                    {{ c }}
                </div>
            </div>
        </div>
    </div>

    <div
        class="flex"
        style="background-color: #939f96; border-radius: 25px"
        *ngIf="awayModel"
    >
        <div style="padding: 16px 0px 16px 16px">
            <div class="flex-box" style="padding-bottom: 4px">
                <mat-form-field class="input-field" subscriptSizing="dynamic">
                    <mat-label>Away/Dark Team</mat-label>
                    <input
                        matInput
                        [(ngModel)]="awayModel.teamName"
                        (blur)="updateTeamName('away')"
                    />
                </mat-form-field>

                <span class="flex"></span>

                <button
                    mat-icon-button
                    matTooltip="Open team options"
                    [matMenuTriggerFor]="awayMenu"
                    *ngIf="!!session"
                >
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #awayMenu="matMenu" xPosition="before">
                    <button
                        mat-menu-item
                        (click)="upsertTeam('away')"
                        *ngIf="!checkIfExists(awayModel)"
                    >
                        <mat-icon>add</mat-icon>
                        Save Team
                    </button>

                    <button
                        mat-menu-item
                        (click)="upsertTeam('away')"
                        *ngIf="checkIfExists(awayModel) && !awayModel.saved"
                    >
                        <mat-icon>cloud_upload</mat-icon>
                        Update Team
                    </button>

                    <button mat-menu-item (click)="openTeamSelect('away')">
                        <mat-icon>list</mat-icon>
                        Select Team
                    </button>

                    <button mat-menu-item (click)="newTeam('away')">
                        <mat-icon>restart_alt</mat-icon>
                        New Team
                    </button>
                </mat-menu>
            </div>

            <mat-form-field
                class="input-field"
                style="padding-right: 4px"
                subscriptSizing="dynamic"
            >
                <mat-label>Head Coach</mat-label>
                <input
                    matInput
                    [(ngModel)]="awayModel.coach"
                    (blur)="updateCoach('away')"
                />
            </mat-form-field>
            <mat-form-field
                class="input-field"
                style="padding-right: 4px"
                subscriptSizing="dynamic"
            >
                <mat-label>Assistant Coach 1</mat-label>
                <input
                    matInput
                    [(ngModel)]="awayModel.assistant1"
                    (blur)="updateAssistant1('away')"
                />
            </mat-form-field>
            <mat-form-field class="input-field" subscriptSizing="dynamic">
                <mat-label>Assistant Coach 2</mat-label>
                <input
                    matInput
                    [(ngModel)]="awayModel.assistant2"
                    (blur)="updateAssistant2('away')"
                />
            </mat-form-field>
        </div>

        <ag-grid-angular
            class="ag-theme-alpine"
            domLayout="autoHeight"
            [rowData]="awayModel.players"
            [columnDefs]="colDefs"
            [gridOptions]="gridOptions"
            (cellValueChanged)="updatePlayers('away')"
        >
        </ag-grid-angular>

        <div class="extras-container">
            <div class="column">
                <b>Timeouts</b>
                <div *ngFor="let t of awayModel.timeouts">
                    {{ t }}
                </div>
            </div>
            <div class="column">
                <b>Cap Swaps</b>
                <div *ngFor="let c of awayModel.capSwaps">
                    {{ c }}
                </div>
            </div>
            <div class="column">
                <b>Cards</b>
                <div *ngFor="let c of awayModel.cards">
                    {{ c }}
                </div>
            </div>
        </div>
    </div>
</div>
