@media (min-width: 700px) {
    .buttons-container {
        display: block; /* Show buttons container */
    }

    .menu-button {
        display: none; /* Hide menu button */
    }
}

@media (max-width: 700px) {
    .buttons-container {
        display: none; /* Hide buttons container */
    }

    .menu-button {
        display: flex; /* Show menu button */
    }
}
