/* Core Grid CSS */
@import "ag-grid-community/styles/ag-grid.css";
/* Quartz Theme Specific CSS */
@import "ag-grid-community/styles/ag-theme-alpine.css";

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ag-header-cell,
.ag-header-group-cell {
  padding-left: 0px;
  padding-right: 0px;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex-box {
  display: flex;
}

.input-field {
  width: 33%;
}
